@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

main {
  margin: 0 auto;
  text-align: center;
  margin-top: 16px;
}

footer {
  margin: 0 auto;
  text-align: center;
}
