@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

main {
    margin: 0 auto;
    text-align: center;
    margin-top: 16px;
}

.board {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: green;
    margin-top: 32px;
}

footer {
    margin: 0 auto;
    text-align: center;
}